// main Colors
$textColorPrimary: #8e8c8c;
$textColorSecondary: #575153;
$textColorTags: #00c8c8;

$buttonBackground: #fff;
$buttonBackgroundHover: #333;
$buttonBorder: #737373;
$buttonBorderHover: #333;
$buttonText: #454647;
$buttonTextHover: #fff;

$tabsBackground: #f8f8f8;
$tabsBackgroundHover: #333;
$tabsText: #575153;
$tabsTextHover: #fff;

// Fonts
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
