// main Colors
$textColorPrimary: #8e8c8c;
$textColorSecondary: #575153;

$textColorTags: #00c8c8;
$textColorPrice: #9a9a9a;
$textColorTitle: #727272;

$buttonBackground: #fff;
$buttonBackgroundHover: #333;
$buttonBorder: #737373;
$buttonBorderHover: #333;
$buttonText: #454647;
$buttonTextHover: #fff;

$tabsBackground: #f8f8f8;
$tabsBackgroundHover: #333;
$tabsText: #575153;
$tabsTextHover: #fff;

// common color
$black: #000;
$white: #fff;

// Fonts
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
