@import "variables";
@import "common";
@import "product-content";

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px;
	& > section {
		width: 100%;
		max-width: 1170px;
	}
	&-card {
		display: flex;
		padding-bottom: 38px;
		justify-content: space-between;
		&__left {
			width: 100%;
			max-width: 570px;
		}
		&__right {
			width: 100%;
			max-width: 570px;
			margin-left: 20px;
		}
	}
	&-image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
}
